figure {
  border: thin silver solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 300px;
  max-height: 300px;
}

figcaption {
  background-color: black;
  color: red;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
