/* color tokens */
:root {
  --color-primary: #fd4d67;
  --color-second: #ffb840;
  --color-third: black;
  --color-four: #435858;
  --color-back1: bisque;
}

@media (prefers-color-scheme: dark) {
  root {
    --color-primary: var(--color-primary);
  }
}

/* Déclaration polices offline */
@font-face {
  font-family: glacial indifference;
  src: url(GlacialIndifference-Regular.otf);
}

/* Global style resets: */
* {
  margin: 0; /* Enlever les marges du navigateur*/
  padding: 0; /* Enlever les marges du navigateur*/
  box-sizing: border-box; /* Permet de tenir compte des padding dans le compte de la taille de la box*/
}

body {
  background-color: var(--color-back1);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5; /*interligne accessible*/
  color: var(--color-third);
}

@font-face {
  font-family: glacial indifference;
  src: url(GlacialIndifference-Regular.otf);
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(253, 218, 174);
  color: var(--color-primary);
}

#imageprofile {
  width: 15%;
}

#headprofile {
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 20% 20%;
  width: 100px;
  height: 100px;
  font-family: Bagel fat one;
  color: white;
  text-align: center;
}

.textButton {
}

h1,
h2 {
  color: var(--color-primary);
  font-family: bagel fat one;
  font-weight: 300;
}

h3 {
  color: var(--color-four);
  font-family: glacial indifference;
  font-weight: bold;
}

h4 {
  color: var(--color-third);
  font-family: glacial indifference;
  font-weight: bold;
}

p,
ul {
  color: var(--color-third);
  font-family: glacial indifference;
}
.Soustitres {
  color: var(--color-second);
  font-size: 20px;
  font-weight: bold;
}

.stylesection {
  border: solid 5px;
  color: var(--color-second);
  margin: 5px;
  margin-bottom: 2rem;
}

#imageprofil {
  display: flex;
  width: 15%;
  border-radius: 20% 30% 20% 30%;
}

#frise-formations {
  display: grid;
  grid-template-columns: 2fr 0.5% 2fr;
  grid-template-rows: repeat(4, 3fr);
}

.item {
  grid-column: var(--colonne);
  grid-row: var(--ligne);
  border-bottom: 5px solid var(--color-primary);
  border-radius: 20%;
}

.col-bg {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: var(--color-primary);
}
/* Media queries à déclarer pour chaque écrans afin de rendre responsive */
/* Média queries @media applique la media querie et screen and (min-width:768px) pour appliquer à l'écran minimum de 768px */
