#boxIndices {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: bisque;
  border: solid 5px hotpink;
}

#indices {
  font-size: 25;
  font-style: bold;
  color: hotpink;
  font-weight: 200;
}

#boxAttempts {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: rgb(147, 248, 177);
  border: solid 5px rgb(2, 202, 36);
}

#numberAttempts {
  font-size: 25;
  font-style: bold;
  color: green;
  font-weight: 200;
}

.square {
  display: flex;
  
}